body {
  background-color: chartreuse;
}
h1 {
  color: blue;
  text-align: center;
}
img {
  height: 350px;
  width: 350;
}
.box {
  width: 80px;
  height: 70px;
  border: 1px solid #000;
}
.age,
.surplus,
.alive {
  display: none;
}
.passed-expetency .surplus,
.passed-expetency .age {
  display: block;
}

.not-passed-expetency .alive,
.not-passed-expetency .age {
  display: block;
}
